extends layout.pug

block title
 title Reddit Clone Homepage

block content
 main
     ul
      each val in posts
          article.post-indiv.clearfix
              p(class="votescore", id=val.postId, data-score=val.voteScore)=val.voteScore
              .button-container
                button.clearfix(class="vote-btn", data-postid=val.postId, data-direction="1") UPVOTE
                button.clearfix(class="vote-btn", data-postid=val.postId, data-direction="-1") DOWNVOTE
              li(class="postsId-" + val.postId).clearfix
               a(href=val.postURL)= val.title
               p= 'by ' + val.user.username